<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="7482MahStudios.WinGoMaps" Publisher="CN=983BF5D2-5CC3-402A-B46D-46C1F70449F9" Version="1.0.609.0" />
  <mp:PhoneIdentity PhoneProductId="6c5e1d37-5879-407c-83f4-ec9655592328" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>WinGo Maps</DisplayName>
    <PublisherDisplayName>Mah Studios</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GoogleMapsUnofficial.App">
      <uap:VisualElements DisplayName="WinGo Maps" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="WinGoMaps ALPHA an Unofficial powerful Google Maps client." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#60a5ff" />
      </uap:VisualElements>
      <Extensions>
        <!--<Extension xmlns="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" Category="windows.appUriHandler">
          <AppUriHandler>
            <Host Name="google.com" />
            <Host Name="www.google.com" />
          </AppUriHandler>
        </Extension>-->
        <Extension Category="windows.backgroundTasks" EntryPoint="LiveTileTask.Update">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.appService" EntryPoint="WinGoService.Cortana">
          <uap:AppService Name="Cortana" />
        </uap:Extension>
        <uap:Extension Category="windows.personalAssistantLaunch" />
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="bingmaps" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ms-drive-to" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ms-walk-to" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="appointments" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>