<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="45104MAHStudio.WinGoMaps" Publisher="CN=44988219-A722-4FA5-9335-1E47D73A1418" Version="0.0.381.0" />
  <mp:PhoneIdentity PhoneProductId="f78cafa9-7d58-4c7b-8106-ec9a9fea62c3" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>WinGoMaps</DisplayName>
    <PublisherDisplayName>MAH Studio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GoogleMapsUnofficial.App">
      <uap:VisualElements DisplayName="WinGoMaps" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="WinGoMaps ALPHA an Unofficial powerful Google Maps client." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#60a5ff" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="LiveTileTask.Update">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.appService" EntryPoint="WinGoService.Cortana">
          <uap:AppService Name="Cortana" />
        </uap:Extension>
        <uap:Extension Category="windows.personalAssistantLaunch" />
        <!--<Extension xmlns="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" Category="windows.appUriHandler">
          <AppUriHandler>
            <Host Name="google.com" />
            <Host Name="www.google.com" />
          </AppUriHandler>
        </Extension>-->
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>